html, body {
    height: 100%;
    background: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%) fixed;
    color: white;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#header-row {
    margin-bottom: 25px;
}

#input-row {
    margin-bottom: 40px;
}

#city-row {
    margin-bottom: 25px;
}

#icon-row {
    margin-bottom: 10px;
}

#footer-text {
    font-size: 10px;
}

#footer-text > a {
    color: #72EDF2;
}

.wi, .fa-refresh {
    font-size: 100px;
}

/* 
Have these set as hidden so that the page layout isn't
affected while the weather is loading.
*/
#temp-val, #city-name {
    visibility: hidden;
} 